:root {
    --text-color: black;
    --background-color: white;
    --accent: #00c27b;
    --accent-dark: #00a367;
    --accent-dark2: #0b5e16;
    --accent-light: #a7e099;
    --accent-negative: white;
    --divider: #e1f1dd;
    --shadow: #b9b9b9;
    --error: #ffb7b7;
    --info: #f2f2f0;
    --glow: #00aa00;
    --inactive: #bebebe;
}

html, body {
    margin: 0;
    color: var(--text-color);
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background-color: var(--divider);
}

h1 {
    font-weight: bold;
    margin-bottom: 5px;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:visited {
    color: var(--accent);
}

a:hover {
    text-decoration: underline;
}

.footer {
    padding-left: 30px;
    padding-bottom: 10px;
}

.footer p {
    font-size: 13px;
    margin-top: 7px;
    padding-bottom: 5px;
}

.wrapper {
    display: grid;
    margin: 0 auto;
    column-gap: 15px;
    grid-template-columns: 1fr 380px;
    grid-template-rows: 1fr 20px;
    min-height: 98vh;
    max-width: 1600px;
}

.readme {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    background-color: var(--background-color);
}

.app {
    padding: 20px;
    display: block;
    background-color: var(--background-color);
}

button {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: var(--accent-negative);
    background-color: var(--accent);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 13px;
    padding-left: 13px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    transition: 200ms;
}

button:hover {
    box-shadow: 0 0 10px var(--shadow);
    background-color: var(--accent-dark);
}

.bars {
    width: 260px;
    margin-top: 8px;
    transform-origin: top left;
    transform: rotate(270deg) translateX(-100%);
}

.progressbar-wrapper {
    width: 250px;
    height: 50px;
    border-color: var(--accent-light);
    border-style: solid;
    border-radius: 30px;
    overflow: hidden;
    margin: 0px;
    background-color: var(--background-color);
    transition: filter ease-out 300ms;
}

.progressbar-wrapper.excited {
    filter: drop-shadow(0 0 4px var(--glow))
}

.progressbar {
    width: 0%;
    height: 50px;
    background-color: var(--accent);
    transition: width 500ms;
}

.progressbar.paused {
    background-color: var(--inactive);
}

.progressbar-outline {
    width: 244px;
    height: 44px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: var(--background-color);
    border-radius: 30px;
    position: absolute;
    transform: translate(0px, 0px);
}

.progressbar-icon {
    user-select: none;
    display: absolute;
    visibility: hidden;
    float: left;
    transform: rotate(90deg) translate(9px, -201px);
}

.progressbar-icon img {
    width: 26px;
    height: 26px;
}

.voicemeter-wrapper {
    width: 250px;
    height: 20px;
    border-color: var(--accent-light);
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: var(--background-color);
    transition: filter ease-out 300ms;
}

.voicemeter-wrapper.recording {
    filter: drop-shadow(0 0 4px var(--glow));
}

.voicemeter-recordvol {
    width: 4px;
    height: 20px;
    background-color: var(--accent-dark2);
    position: absolute;
}

.voicemeter {
    width: 0%;
    height: 100%;
    background-color: var(--accent);
}

.wrapper-listen {
    margin-bottom: 15px;
    display: none;
}

.wrapper-listen #threshold {
    width: 254px;
    margin-bottom: 15px;
    margin-left: 1px;
    margin-right: 0px;
}

.wrapper-device-list {
    display: none;
}

.wrapper-device-list p {
    display: inline-block;
    margin-bottom: 0px;
}

.button-small {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 8px;
}

.wrapper-listen p {
    margin-top: 8px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid var(--accent);
    height: 25px;
    width: 8px;
    border-radius: 15px;
    background: var(--accent);
    cursor: pointer;
    margin-top: -9px;
}

input[type=range]::-moz-range-thumb {
    border: 1px solid var(--accent);
    height: 25px;
    width: 8px;
    border-radius: 15px;
    background: var(--accent);
    cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--accent-light);
    border-radius: 15px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--accent-light);
    border-radius: 15px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--accent-light);
}

.floating {
    user-select: none;
    font-size: 46px;
    left: 45%;
    top: 40%;
    position: absolute;
}

.sample {
    display: inline-block;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.subtitle p {
    margin: 0px;
}

#lockmessage {
    transform: translate(0, 50px);
    text-align: center;
    visibility: hidden;
}

#btn-play-pause {
    transform: translate(0, 178px);
    visibility: hidden;
}

.inline-lock {
    width: 16px;
    height: 16px;
}

.error {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--error);
    border-radius: 5px;
    font-size: 14px;
}

.info {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
    background-color: var(--info);
    border-radius: 5px;
    font-size: 15px;
}

.wrapper-intiface {
    display: none;
}

#intiface-connect-err {
    display: none;
}

#intiface-addr {
    font-size: 15px;
    padding: 6px;
    height: 16px;
    margin-right: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--accent-light);
}

.wrapper-reconnect {
    display: none;
}

#err-connect {
    display: none;
}

#err-listen {
    display: none;
}

#intiface-scanning-info {
    display: none;
}
